.search{
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem;
    background-color: rgb(230, 230, 230);
}

.search input {
    float: left;
    padding-left: 0.566667rem;
    width: 60%;
    height: 100%;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
}

.search span{
    text-align: center;
    line-height: 1rem;
    float: right;
}

.serchIcon{
    margin-right: 0.666667rem;
    margin-top: 0.3rem;
    width: 0.4rem;
    height: 0.4rem;
}

.serchIcon img{
    margin-right: 0.3rem;
    margin-top: 0.05rem;
    width: 0.3rem;
    height: 0.3rem;
}
