.search{
    height: 1rem;
    line-height: 1rem;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(230, 230, 230)
}

.search input {
    float: left;
    padding-left: 0.566667rem;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem;
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
}

.search span{
    margin-right: 0.266667rem;
    width: 10%;
    float: right;
    height: 100%;
    line-height: 1rem;
}

.serchIcon{
    float: right;
    width: 0.533333rem;
    height: 0.533333rem;
}

.serchIcon img{
    width: 100%;
    height: 100%;
}
