.showListItem{
    width: 90%;
    height: 3.266667rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 6px 6px 20px 6px #f1f1f1;
    line-height: 3.266667rem;
    overflow: hidden;
}

.headImg{
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    height: 2.633333rem;
    width: 3.533333rem;
    border-radius: 4px;
}

.photoInfo{
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    height: 2.633333rem;
    width: 3.933333rem;
}

.photoInfo div{
    line-height: 0.6rem;
    height: 0.6rem;
}

.college,
.major{
    color: #4c4c4c;
}

.rankAndNice{
    float: left; 
    margin-top: 0.203333rem;
    line-height: 0.366667rem;
    width: 85%;
}

.nice{
   float: right; 
}

.rank{
    float: left;
}


.niceIcon,
.rankIcon{
    width: 0.366667rem;
    height: 0.366667rem;
}

.niceNum,
.rankNum{
    margin-left: 0.15rem;
}

.bannerContainer{
    width: 100%;
    height: 4.933333rem;
}

.banner{
    width: 100%;
    height: 100%;
}

.list-view-section-body{
    margin-top: 0.333333rem;
}