.showContainer{
    width: 100%;
    height: 100%;
    margin-top: 0.44rem;
}

.showOneShow{
    position: relative;
    width: 90%;
    height: 11.52rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 6px 6px 20px 6px #f1f1f1;
}

.showTitle{
    width: 90%;
    height: 0.4rem;
    font-size: 0.366667rem;
    margin-left: 0.4rem;
    padding-top: 0.4rem;
}

.addPhoto{
    position: relative;
    width: 90%;
    height: 5.56rem;
    margin: 0 auto;
    border: 2px dashed #d9d9d9;
    border-radius: 2%;
    margin-top: 0.32rem;
}

.addIcon{
    position: relative;
    width: 0.933333rem;
    height: 0.933333rem;
    margin: 0 auto;
    margin-top: 2.133333rem;
}

.adds{
    width: 100%;
    height: 100%;
}

.addWord{
    width: 4.666667rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.433333rem;
    color: #b2b2b2;
    font-size: 0.346667rem;
    letter-spacing:2px
}

.nickName,
.description{
    width: 90%;
    margin: 0 auto;
    margin-top: 0.4rem; 
    font-size: 0.366667rem;
}

.description{
    position: relative;
}

.description span{
    position: absolute;
    top: 0;
}

.nickNameWord{
    width: 96%;
    height: 0.733333rem;
    padding-left: 4%;
    background-color: transparent;
    margin-top: 0.293333rem;
    border: 2px dashed #d9d9d9;
    border-radius: 3px;
}

.descriptionWord{
    height: 0.833333rem;
    width: 96%;
    line-height: 0.833333rem;
    background-color: transparent;
    padding-left: 4%;
    margin-top: 0.693333rem;
    border: 2px dashed #d9d9d9;
    border-radius: 3px;
    color: #787878;
    resize: none;
    font-size: 0.366667rem;
}

.upload{
    height: 1.2rem;
    width: 7.52rem;
    margin: 0 auto;
    margin-top: 0.666667rem;
}

.uploadButton{
    width: 100%;
    height: 100%;
}

.addIcon input{
    display: block;
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preview{
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cameraIcon img{
    width: 0.433333rem;
    height: 0.363333rem;
}

.nickNameIcon img,
.decIcon img{
    width: 0.343333rem;
    height: 0.393333rem;
}

.titleWord,
.nickNameText{
    margin-left: 0.233333rem;
}

.decText{
    margin-left: 0.58rem;
}

.company-logo-cropper{
    position: absolute;
    top: 0;
    height: 0;
    z-index: -100;
}